menu "Sniffer Configuration"

  config WIFI_SSID
    string "The ssid to connect to"
    default "CentralHub"
    help
      "No help for you :)"

  config WIFI_PASSWORD
    string "The password to use when connecting"
    default ""
    help
      "No help for you :)"

  config WIFI_RETRY_COUNT
    int "How many times to retry if we lose wifi connection"
    range 0 10
    default 3
    help
      "No help :)"

  config WIFI_SNIFFER_CHANNEL_HOPPER_FREQUENCY
    int "The time in milliseconds between channel switches"
    range 100 3000
    default 1000
    help
      "No help :)"


  config WIFI_SNIFFER_SNIFF_TIME
    int "The time in milliseconds to sniff for packets"
    range 500 20000
    default 10000
    help
      "No help :)"

  config BLUETOOTH_CLASSIC_SCANNER_SCAN_TIME
    int "The time in milliseconds to scan for bluetooth classic devices"
    range 500 20000
    default 10000
    help
      "No help :)"

endmenu
